body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.leaderboard, .game-area, .user-login {
  float: left;
  padding: 20px;
}

.leaderboard {
  display: flex;
  width: 20%;
  height: 100vh;
  background-color: #f0f0f0;
  overflow-y: scroll;
}

.game-area {
  display: flex;
  width: 75%;
}

#drawingCanvas {
  display: flex;
  width: 100%;
  height: 75vh;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.chat-box {
  margin: 20px;
}

#chat-messages {
  height: 300px;
  width: 250px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

#guess-form {
  margin-top: 10px;
}

#guess-input {
  width: calc(100% - 80px);
  padding: 5px;
}

#guess-form button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#guess-form button:hover {
  background-color: #45a049;
}

#login-form input, #guess-input {
  width: calc(100% - 10px);
  padding: 5px;
}

#login-form button {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#login-form button:hover {
  background-color: #45a049;
}
